[submodule "thirdparty/submodules/json"]
	path = thirdparty/submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/submodules/nameof"]
	path = thirdparty/submodules/nameof
	url = https://github.com/Neargye/nameof.git
